{% extends 'base.html' %}
{%  load static %}
{% block 'main' %}
    <section class="showcase-area" id="showcase" style="background-image: url('static/images/bg/bg-2.jpg');">
        <div class="showcase-container">
            <h1 class="main-title" id="home">Custmize by Yourself</h1>
            <p>Service our Product Your</p>
            <a href="#food-menu" class="btn btn-primary">Products</a>
        </div>
    </section>

    <section id="about">
        <div class="about-wrapper container">
            <div class="about-text">
                <p class="small">About Us</p>
                <h2>Welcome to Customization Services! We specialize in providing tailored solutions to meet your unique needs.</h2>
                <p>
                    Give your customers a superior shopping experience. Realistic 3D product visuals, intuitive design tools and rewarding user journeys.
                </p>
               <a href="/register"> <button type="register" class="btn btn-primary">Start Creating</button> </a>

            </div>
            <div class="about-img">
                <img src="static\images\bg\bg-customize.avif" alt="food" />
            </div>
        </div>
    </section>
    <section id="food">
        <h2>Our Services</h2>
        <div class="food-container container">
            <div class="food-type fruite">
                <div class="img-container">
                    <img src="static/images/img/Custom-Laptop-1.webp" alt="error" />
                    <div class="img-content">
                        <h3>Design Your Laptop</h3>
                        <a href="static/images/img/Hyderabad.jpg!w700wp" class="btn btn-primary" target="blank">learn
                            more</a>
                    </div>
                </div>
            </div>
            <div class="food-type vegetable">
                <div class="img-container">
                    <img src="static/images/img/custom-phone-1.webp" alt="error" />
                    <div class="img-content">
                        <h3>Design Your Phone</h3>
                        <a href="https://en.wikipedia.org/wiki/Vegetable" class="btn btn-primary" target="blank">learn
                            more</a>
                    </div>
                </div>
            </div>
            <div class="food-type grin">
                <div class="img-container">
                    <img src="static/images/img/Custom-Bike-2.jpg" alt="error" />
                    <div class="img-content">
                        <h3>Design Your Bike</h3>
                        <a href="https://www.google.com/search?sca_esv=594855337&rlz=1C1RXQR_enIN1078IN1079&q=south+indian+breakfast&tbm=isch&source=lnms&sa=X&sqi=2&ved=2ahUKEwj4pqnt3LuDAxVfTGwGHeY7ClYQ0pQJegQICxAB&biw=1514&bih=707&dpr=1.25#imgrc=n__M4QVV9tahnM" class="btn btn-primary" target="blank">learn
                            more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="food-menu">
        <h2 class="food-menu-heading">Products</h2>
        <div class="food-menu-container container">
            <div class="food-menu-item">
                <div class="food-img">
                    <img src="static/images/img/Headset.jpg" alt="" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile">Headset</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                        quae.
                    </p>
                    <p class="food-price">Price: &#8377; 250 </p>
                    <button type="button" class="btn btn-primary">Order</button>
                    <button type="button" class="btn btn-primary">Add to Cart</button>


                </div>
            </div>

            <div class="food-menu-item">
                <div class="food-img">
                    <img src="static/images/img/cf58bd93-bd9e-4a6e-a177-5c685ba1ab03_Baseball-Caps.avif" alt="error" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile">Cap</h2>
                    <p>    
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                        quae.
                    </p>
                    <p class="food-price">Price: &#8377; 70</p>
                    <button type="button" class="btn btn-primary">Order</button>
                    <button type="button" class="btn btn-primary">Add to Cart</button>

                </div>
            </div>
            <div class="food-menu-item">
                <div class="food-img">
                    <img src="static/images/img/0_X9mvddnn39EJqdPp.png" alt="" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile">Shoes</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                        quae.
                    </p>
                    <p class="food-price">Price: &#8377; 25</p>
                    <button type="button" class="btn btn-primary">Order</button>
                   <!-- <button type="button" class="btn btn-primary">Add to Cart</button>-->

                </div>
            </div>
            <div class="food-menu-item">
                <div class="food-img">
                    <img src="static/images/img/istockphoto-955641488-612x612.jpg" alt="" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile">Clothes</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                        quae.
                    </p>
                    <p class="food-price">Price: &#8377; 70</p>
                    <button type="button" class="btn btn-primary">Design</button>
                    <!--<button type="button" class="btn btn-primary">Add to Cart</button>-->

                </div>
            </div>
            <div class="food-menu-item">
                <div class="food-img">
                    <img src="static/images/img/WaterBottle.jpg" alt="" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile">Bottle</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                        quae.
                    </p>
                    <p class="food-price">Price: &#8377; 90</p>
                    <button type="button" class="btn btn-primary">Design</button>
                    <button type="button" class="btn btn-primary">Buy</button>

                </div>
            </div>
            <div class="food-menu-item">
                <div class="food-img">
                    <img src="static/images/img/Joggers.avif" alt="" />
                </div>
                <div class="food-description">
                    <h2 class="food-titile">Joggers</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non,
                        quae.
                    </p>
                    <p class="food-price">Price: &#8377; 30</p>
                    <button type="button" class="btn btn-primary">Design</button>
                    <button type="button" class="btn btn-primary">Buy</button>

                </div>
            </div>
        </div>
    </section>
    <section id="testimonials">
        <h2 class="testimonial-title">What Our Customers Say</h2>
        <div class="testimonial-container container">
            <div class="testimonial-box">
                <div class="customer-detail">
                    <div class="customer-photo">
                        <img src="static/images/review/img-1.jpg" alt="" />
                        <p class="customer-name">Iron Man</p>
                    </div>
                </div>
                <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <p class="testimonial-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
                    voluptas cupiditate aspernatur odit doloribus non.
                </p>

            </div>
            <div class="testimonial-box">
                <div class="customer-detail">
                    <div class="customer-photo">
                        <img src="static/images/review/img-2.webp" alt="" />
                        <p class="customer-name">Mark Zuckerberg</p>
                    </div>
                </div>
                <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <p class="testimonial-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
                    voluptas cupiditate aspernatur odit doloribus non.
                </p>

            </div>
            <div class="testimonial-box">
                <div class="customer-detail">
                    <div class="customer-photo">
                        <img src="https://i.postimg.cc/fy90qvkV/male-photo3.jpg" alt="" />
                        <p class="customer-name">Ben Roy</p>
                    </div>
                </div>
                <div class="star-rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <p class="testimonial-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
                    voluptas cupiditate aspernatur odit doloribus non.
                </p>

            </div>
        </div>
    </section>
    
    
    {% endblock 'main' %}