{% extends 'base.html' %}
{%  load static %}
{% block 'main' %}


<section id="login">
    <div class="login-container container">
        <div class="login-img">
            <img src="static/images/img/login 3.webp" alt="" />
        </div>

        <div class="form-container">
            <h2>Designer Login</h2>
            {% if errmsg %}
            <div class="alert alert-danger" role="alert">
                {{ errmsg }}
            </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <h3>Email Address</h3>
                <input type="email" class="form-control" id="input1" name="uname" placeholder="name@example.com" />

                <h3>Password</h3>
                <input type="password" class="form-control" id="input2" name="upass" placeholder="Enter Your Password" />

                <div class="mb-3">
                    <input type="submit" value="Login" class="btn btn-secondary">
                    <b class="login">New User?</b><a href="/register" style="text-decoration: none;" class="login">&nbsp;&nbsp; Register</a>
                </div>
            </form>
        </div>
    </div>
</section>


{% endblock 'main' %}